<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Nathan Crank</string>
	<key>Builder Version</key>
	<string>11601.7.7</string>
	<key>CFBundleDisplayName</key>
	<string>Paragraph Highlighter</string>
	<key>CFBundleIdentifier</key>
	<string>com.eyeHear.paragraphhighlighter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Stylesheets</key>
		<array>
			<string>p.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>safari-reader://*/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>highlights p tags as you hover over to improve readability</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
